.navbar {
    background-color: #343a40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;
}

.navbarOptions {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 20px;
}

.navbarOptions{
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}